annotated-types==0.6.0
appnope==0.1.4
asttokens==2.4.1
backcall==0.2.0
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.12.3
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
packaging==24.0
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.2.1
pluggy==1.5.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.17.2
pymarc==5.1.2
pytest==8.1.1
python-dateutil==2.9.0.post0
pyzmq==26.0.2
six==1.16.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.3
typing_extensions==4.11.0
wcwidth==0.2.13
